services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    tmpfs:
      - /app/pb_data
    volumes:
      - ./static/background.png:/app/pb_public/_app/immutable/assets/background.png:ro
    restart: unless-stopped
