version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    volumes:
      - pb_data:/app/pb_data
      - ./static/background.png:/app/pb_public/_app/immutable/assets/background.png:ro
    restart: unless-stopped

volumes:
  pb_data:
    driver: local
